@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@font-face {
	font-family: "Quite Chocolatey";
	src: url(../fonts/Quite\ Chocolatey.ttf);
}
@font-face {
	font-family: "MyriadPro";
	src: url(../fonts/MYRIADPRO-REGULAR.OTF);
}
@font-face {
	font-family: "MyriadPro Bold";
	src: url(../fonts/MYRIADPRO-BOLD.OTF);
}
@font-face {
	font-family: "Couture";
	src: url(../fonts/couture-bld.otf);
}